* {
    font-family: FiraCodeNerdFont, FontAwesome;
    font-size: 15px;
}

window#waybar {
    background-color: #1A1515;
    color: #FFE9C7;
    /* text-align: center; */
}

#clock.time {
    margin: 0 20px;
    font-weight: bold;
}

#clock.cal {
    margin: 0 20px;
}

#workspaces button {
    color: #725A5A;
}

#workspaces button.focused {
    color: #FFE9C7;
}

#battery.charging,
#battery.full {
    color: #959A6B;
}

#pulseaudio.muted {
    color: #AE4750;
}
