[Desktop Entry]
Version=1.0
Type=Application
Name=NCSpot
Comment=Spotify client in the terminal
Exec=kitty --class ncspot --detach ncspot
Icon=spotify
Terminal=false
StartupNotify=false
Categories=Music;Media;
